div {
    height: 200px;
    width: 200px;
}

p {
    margin: 0;
}
#First{
    background-color: cadetblue;
    padding: 20px;
    border: 10px solid black;
}
#Second{
    background-color: gold;
    border: solid black;
    border-width: 20px 10px;
    margin-left: 260px;
}
#Third{
    background-color: indianred;
    border: 10px solid black;
    margin-left: 40px;
}