 .red-circle{
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 250px;
}
.blue-box {
    background-color: blue;
    height: 300px;
    width: 500px;
    position: relative;
    top: 200px;
    left: 200px;
}